@{
    ViewBag.Title = "SampleReception";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title></title>
    @using Combres.Mvc
    @Html.CombresLink("siteCss")
    @Html.CombresLink("SampleReceptionJs")
</head>
<body>
    <!--<%-- 扫描条码 --%>-->
    <div id="sample_reception_datagrid"></div>

    <div style="display:none">
        @* 样品接收列表工具栏 *@
        <div id="sample_reception_toolbar">
            <label>MTR No.</label>
            <input id="MTR_value" style="width: 150px" class="easyui-textbox" />
            <a href="javascript:;" id="search" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">Search</a>
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <a href="javascript:;" id="read_sample" class="easyui-linkbutton" data-options="iconCls:'icon-Document',plain:true">View Sample</a>
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <a href="javascript:;" id="Motor" class="easyui-linkbutton" data-options="iconCls:'icon-read',plain:true">Motor List</a>
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <a href="javascript:;" id="Take_photo" class="easyui-linkbutton" data-options="iconCls:'icon-photo',plain:true">Take Photo</a>
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <a href="javascript:;" id="receive_sample" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">Receive</a>
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <a href="javascript:;" id="print" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true">Print QR Code All</a>
        </div>
        @*储存位置*@
        <form method="post" id="position_dialog">
            @*位置列表*@
            <div id="position_datagrid"></div>
            @*位置列表工具栏*@
            <div id="position_datagrid_toolbar" style="display:none">
                <label>Area:</label>
                <input id="area" style="width: 150px" class="easyui-combobox" required="required" data-options="editable:false" />
                <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
                <label>Number of copies:</label>
                <input id="times" style="width: 150px" class="easyui-numberbox" required="required" readonly="readonly" />
            </div>
        </form>

        <!--查看样品详细信息-->
        <form id="Sample_dialog" method="post">
            <div class="h_d" style="margin-top: 15px; margin-left: 30px">
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">MTR NO:</label>
                    <input class="easyui-textbox" name="MTRNO" style="width: 140px;" id="MTRNO" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Sample Name:</label>
                    <input class="easyui-textbox" name="SampleName" style="width: 140px;" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Sample Qty:</label>
                    <input class="easyui-textbox" name="SampleQty" style="width: 140px;" readonly="readonly" />
                </div>
                @*<div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Sample Position:</label>
                        <input class="easyui-textbox" name="SamplePosition" style="width: 140px;" readonly="readonly" />
                    </div>*@
                @*<div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Test Load:</label>
                        <input class="easyui-combobox" name="TestLoad" style="width: 140px;" id="TestLoad" readonly="readonly" />
                    </div>*@
                @*<div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Identification:</label>
                        <input class="easyui-combobox" name="Identification" style="width: 140px;" id="Identification" readonly="readonly" />
                    </div>
                    <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Appearance:</label>
                        <input class="easyui-combobox" name="Appearance" style="width: 140px;" id="Appearance" readonly="readonly" />
                    </div>
                    <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Others Status:</label>
                        <input class="easyui-combobox" name="OthersStatus" style="width: 140px;" id="OthersStatus" readonly="readonly" />
                    </div>*@
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Follow Person:</label>
                    <input class="easyui-textbox" name="FollowUp_n" style="width: 140px;" id="FollowUp" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Receiving Date:</label>
                    <input class="easyui-datebox" name="ReceivingDate" style="width: 140px;" id="ReceivingDate" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Reviewer:</label>
                    <input class="easyui-combobox" name="Reviewer_n" style="width: 140px;" id="Reviewer" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Receiving Signature:</label>
                    <input class="easyui-textbox" name="ReceivingSignature_n" style="width: 140px;" id="ReceivingSignature" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Take Out Date:</label>
                    <input class="easyui-datebox" name="TakeOutDate" style="width: 140px;" id="TakeOutDate" readonly="readonly" data-options="editable:false" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">TakeOut Signature:</label>
                    <input class="easyui-combobox" name="TakeOutSignature_n" style="width: 140px;" id="TakeOutSignature" readonly="readonly" />
                </div>
                @*<div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Retrieval(Y/N):</label>
                        <input class="easyui-combobox" name="Retrieval" style="width: 140px;" id="Retrieval" readonly="readonly" data-options="editable:false" />
                    </div>
                    <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Retriever:</label>
                        <input class="easyui-combobox" name="Retriever_n" style="width: 140px;" id="Retriever" readonly="readonly" />
                    </div>
                    <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">ContactMethod:</label>
                        <input class="easyui-textbox" name="ContactMethod" style="width: 140px;" id="ContactMethod" readonly="readonly" />
                    </div>
                    <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                        <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Retrieval Date:</label>
                        <input class="easyui-datebox" name="RetrievalDate" style="width: 140px;" id="RetrievalDate" readonly="readonly" data-options="editable:false" />
                    </div>*@
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Status:</label>
                    <input class="easyui-combobox" name="Status" style="width: 140px;" id="Status" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Description:</label>
                    <input class="easyui-textbox" name="SampleDescription" style="width: 140px;" readonly="readonly" data-options="multiline:true" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Sample Details:</label>
                    <input class="easyui-textbox" name="SampleDetails" style="width: 140px; height: 60px;" readonly="readonly" data-options="multiline:true" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px; text-align: right; display: inline-block">Remarks:</label>
                    <input class="easyui-textbox" name="Remarks" style="width: 140px;height:60px;" readonly="readonly" data-options="multiline:true" />
                </div>
            </div>
        </form>
        @* 提交表单 *@
        <form method="post" id="submitSampleReceive">
            <div class="h_d" style="margin-top: 20px;">
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px;text-align:right;display:inline-block">Review Group:</label>
                    <input id="Group" class="easyui-combobox" name="" style="width: 220px;" required="required" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px; text-align: right; display: inline-block">Reviewer:</label>
                    <input id="ApprovedBy" class="easyui-combobox" name="" style="width: 220px; " required="required" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px; text-align: right; display: inline-block">Test Load:</label>
                    <span style="width: 220px; display: inline-block; ">
                        <input id="TestLoad_true" type="radio" name="TestLoad" value="true" checked="checked" />Attach Load
                        <input id="TestLoad_false" type="radio" name="TestLoad" value="false" />NO Attach Load
                    </span>
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px; text-align: right; display: inline-block">Identification:</label>
                    <span style="width: 220px; display: inline-block; ">
                        <input id="Identification_true" type="radio" name="Identification" value="true" checked="checked" />Normal
                        <input id="Identification_false" type="radio" name="Identification" value="false" />Abnormal
                    </span>
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px; text-align: right; display: inline-block">Appearance:</label>
                    <span style="width: 220px; display: inline-block; ">
                        <input id="Appearance_true" type="radio" name="Appearance" value="true" checked="checked" />Normal
                        <input id="Appearance_false" type="radio" name="Appearance" value="false" />Abnormal
                    </span>
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px; text-align: right; display: inline-block">Others Status:</label>
                    <span style="width: 220px; display: inline-block; ">
                        <input id="OthersStatus_true" type="radio" name="OthersStatus" value="true" checked="checked" />Normal
                        <input id="OthersStatus_false" type="radio" name="OthersStatus" value="false" />Abnormal
                    </span>
                </div>
                <div class="h_dline" style="height: 66px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px; text-align: right; display: inline-block">Sample Details:</label>
                    <input class="easyui-textbox" style="width: 500px;height:66px" id="SampleDetails" name="SampleDetails" />
                </div>
                <div class="h_dline" style="height: 66px; margin-top: 20px; margin-left: 10px; float: left;">
                    <label class="h_d1" style="width: 130px; text-align: right; display: inline-block">Sample Description:</label>
                    <input class="easyui-textbox" style="width: 500px;height:66px" id="Description" name="SampleDescription" />
                </div>
            </div>
        </form>
        <!--电机信息-->
        <form id="datagrid_dialog" method="post">
            @*电机信息列表*@
            <div id="Motor_datagrid"></div>
            @*电机信息工具栏*@
            <div id="Motor_datagrid_toolbar">
                @*<a href="javascript:;" id="AddRecord" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">Information</a>
                    <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>*@
                <a href="javascript:;" id="Position" class="easyui-linkbutton" data-options="iconCls:'icon-place',plain:true">Position</a>
                <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
                @*<a href="#" id="generate_samples" class="easyui-linkbutton" data-options="iconCls:'icon-read',plain:true">Generate samples</a>
                    <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>*@
                @*<a href="#" id="del" class="easyui-linkbutton" data-options="iconCls:'icon-no',plain:true">Invalid</a>
                    <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>*@
                <a href="javascript:;" id="print2" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true">Print View QR Code</a>
                <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
                <a href="javascript:;" id="print1" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true">Print  Selected</a>
                <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
                <a href="javascript:;" id="print3" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true">Print  All</a>
            </div>
        </form>
        @* 生成样品弹框 *@
        <form id="generate_samples_dailog" method="post">
            <div class="h_d" style="margin-top: 30px;margin-left:30px">
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 80px;text-align:right;display:inline-block">Sample Num:</label>
                    <input class="easyui-textbox" name="SampleNum" style="width: 300px;height:50px;" id="SampleNum" required="required" />
                </div>
            </div>
        </form>
        @*修改电机信息*@
        <form method="post" id="Motor_dialog">
            <div class="h_d" style="margin-top: 30px;">
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">MTR NO:</label>
                    <input class="easyui-textbox" name="MTRNO" style="width: 140px;" id="MTRNO1" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 10px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Motor Num:</label>
                    <input class="easyui-textbox" name="MotoNum" style="width: 140px;" id="MotoNum" readonly="readonly" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Sort Num:</label>
                    <input class="easyui-textbox" name="SortNum" style="width: 140px;" id="SortNum" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Scrap Date:</label>
                    <input class="easyui-datebox" name="ScrapDate" style="width: 140px;" id="ScrapDate" data-options="editable:false" required="required" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Scrap Remarks:</label>
                    <input class="easyui-textbox" name="ScrapRemarks" style="width: 140px;" id="ScrapRemarks" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Sample Position:</label>
                    <input class="easyui-textbox" name="SamplePosition" style="width: 140px;" id="SamplePosition" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Scrap:</label>
                    <input class="easyui-combobox" style="width: 140px;" id="Scrap" />
                </div>
                <div class="h_dline" style="height: 23px; margin-top: 20px; margin-left: 10px;float: left;">
                    <label class="h_d1" style="width: 140px;text-align:right;display:inline-block">Remarks:</label>
                    <input class="easyui-textbox" name="Remarks" style="width: 440px;height:66px" id="Remarks" />
                </div>
            </div>
        </form>
        <!--照相信息-->
        <div id="take_photo_dialog">
            <div id="cc" class="easyui-layout" style="width:1000px;height:500px;">
                <div data-options="region:'east'" style="width:450px;">
                    <div id="take_photo_datagrid"></div>
                    @*电机信息工具栏*@
                    <div id="take_photo_datagrid_toolbar">
                        <a href="javascript:;" id="take_photo_View" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">View photo</a>
                        <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
                        <a href="javascript:;" id="take_photo_delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">Delete photo</a>
                    </div>
                </div>
                <div data-options="region:'west'" style="width:530px;">
                    <iframe id="WebCam_photo" src="" width="520" height="450" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
     
        @*拍照信息列表预览*@
        <div id="take_photo_view_dialog">
            <img id="take_photo_view_look" src="" />
        </div>
    </div>
</body>
</html>
