@{
    ViewBag.Title = "SampleBorrow";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" /> 
    <title></title>
    @using Combres.Mvc
    @Html.CombresLink("siteCss")
    @Html.CombresLink("SampleBorrowJs")
</head>
<body>
    @* *************** 样品流转信息列表 *************** *@
    <div id="Sample_datagrid"></div>

    <div style="display:none">
        @* *************样品流转信息工具栏************* *@
        <div id="Sample_circulation_toolbar">
            <a href="javascript:;" id="append_mtr" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">To MTRNO add</a> @* 追加 *@
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <label>SampleNo:</label>
            <input class="easyui-textbox" id="sample_text" style="width:150px"/>
            <label>Remark:</label>
            <input class="easyui-textbox" id="sample_remark" style="width:200px" />
            <a href="javascript:;" id="append_sample" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">Append</a> @* 追加 *@
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <a href="javascript:;" id="del_sample" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">Delect</a> @* 删除 *@
            <span class="datagrid-btn-separator" style="vertical-align: middle; height: 22px; display: inline-block; float: none"></span>
            <a href="javascript:;" id="sumbit_sample" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">submit</a> @* 提交 *@
        </div>

        @*根据mtr信息选择借出样品*@
        <div id="mtr_dialog">
            <div id="Layout" class="easyui-layout" data-options="fit:true">
                @*文件类型类别*@
                <div data-options="region:'west',border:true" title="Laboratory" style="width:400px;">
                    <div id="Laboratory_tree"></div>
                </div>

                @*列表*@
                <div data-options="region:'center',border:true" title="Sample">
                    <div id="mtr_datagrid"></div>
                </div>
            </div>
         
            <div id="mtr_datagrid_toolbar">
                <label>MTRNO:</label>
                <input id="mtr_text" style="width: 150px" class="easyui-textbox" />
                <a href="javascript:;" id="search_mtr" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">Search</a>  @*搜索*@
            </div>
        </div>
    </div>
</body>
</html>
