@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" /> 
    <title>test</title>
</head>
<body>
    <div>
        dddd
    </div>
</body>
</html>
