@{
    ViewBag.Title = "EquipmentTypeTestStatistics";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title> 统计设备测试利用率</title>
    @using Combres.Mvc
    @Html.CombresLink("siteCss")
    @Html.CombresLink("EquipmentTypeTestStatisticsJs")
</head>
<body>
<div id="cc" class="easyui-layout" style="height: 800px;">
    <div data-options="region:'north',title:'图表类型选择',split:true" style="height:100px;text-align:center;line-height:50px;">
        <label>年份：</label>
        <input class="easyui-datebox" id="planYear" name="planYear" value="2018" style="width: 120px" data-options="required:true,formatter:yearFormatter,parser:yearParser" />
        <span style="display: inline-block; width: 30px"></span>
        <label>类型选择：</label>
        <input id="TypeChoose" class="easyui-combobox" style="width: 250px" />
        <span style="display: inline-block; width: 30px"></span>
        <a href="javascript:;" id="search" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">Search</a>
    </div>
    <div data-options="region:'south',title:'图表显示',split:true" style="height: 700px;">
        <div>
            <div id="container1" style="width: 1500px; height: 600px; margin: 20px auto"></div>
        </div>
    </div>
</div>
</body>
</html>
<script src="~/Scripts/echarts/echarts.js"></script>
